In [1]:
from sql import SqlMiddleware

In [2]:
sql = SqlMiddleware(password="XXX", db_password="YYY")

[+] SSH tunnel established
[+] SQL connection established
[+] Ready to go ^-^

In [3]:
sql.raw_excute("SELECT * FROM mimiciv_hosp.d_icd_diagnoses LIMIT 10")

[('0010   ', 9, 'Cholera due to vibrio cholerae'),
 ('0011   ', 9, 'Cholera due to vibrio cholerae el tor'),
 ('0019   ', 9, 'Cholera, unspecified'),
 ('0020   ', 9, 'Typhoid fever'),
 ('0021   ', 9, 'Paratyphoid fever A'),
 ('0022   ', 9, 'Paratyphoid fever B'),
 ('0023   ', 9, 'Paratyphoid fever C'),
 ('0029   ', 9, 'Paratyphoid fever, unspecified'),
 ('0030   ', 9, 'Salmonella gastroenteritis'),
 ('0031   ', 9, 'Salmonella septicemia')]

In [4]:
sql.pd_excute("SELECT * FROM mimiciv_hosp.d_icd_diagnoses LIMIT 10")

  icd_code  icd_version                             long_title
0  0010               9         Cholera due to vibrio cholerae
1  0011               9  Cholera due to vibrio cholerae el tor
2  0019               9                   Cholera, unspecified
3  0020               9                          Typhoid fever
4  0021               9                    Paratyphoid fever A
5  0022               9                    Paratyphoid fever B
6  0023               9                    Paratyphoid fever C
7  0029               9         Paratyphoid fever, unspecified
8  0030               9             Salmonella gastroenteritis
9  0031               9                  Salmonella septicemia